<!doctype html>
<html>

<head>
  <title>Signin successfully page</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/static/profile.css" />
  <script>
    setInterval(function () {
      var span = document.querySelector("#counter");
      var count = span.textContent - 1;
      span.textContent = count;
      if (count <= 0) {
        window.location.replace("http://localhost:3000/profile");
      }
    }, 1000);

  </script>
</head>

<body>
  <main>
    <h2 style="text-align: center;" class="title">Add your blog successfully</h1>
      <div style="padding: 4px 32px; 
        text-align: center;
        background-color: var(--bg-profile);
        border-radius: 5px;
        ">
        <span>You will be redirect to the profile page after: </span>
        <span id="counter">3</span>
        <span id="seconds">s</span>
      </div>
  </main>
</body>

</html>
