<!doctype html>
<html>

<head>
  <title>Homepage</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/static/style.css" />
  <link rel="stylesheet" href="/static/style.css" />
</head>

<body>
  <main>
    {{ $blogs := .Blogs}}
    {{ $smallInfoUsersOwnBlogs := .Small_info_user_own_blogs }}
    <!-- User signed in -->
    {{ if .Is_signed_in }}
    <header>
      <div class="menu-logo">
        <a href="/">
          Logo
        </a>
      </div>
      <div class="menu-list">
        <ul>
          <li class="menu-list-username">
            <a href="/profile" class="profile">
              <span class="profile-username">
                {{ .Profile_name }}
              </span>
              <div class="profile-avatar">
                <img src="/static/uploads/images/users/{{ .Avatar_name }}" alt="Avatar profile image" />
              </div>
            </a>
          </li>
          <li>
            <a href="/">Home</a>
          </li>
          <li>
            <a href="/about">About</a>
          </li>
          <li>
            <a href="/logout">Logout</a>
          </li>
        </ul>
      </div>
    </header>
    {{ else }}
    {{ template "header"}}
    {{ end }}
    <div class="blog-lastest-wrapper">
      <div class="blog-lastest">
        <div class="blog-lastest-left-decoration"></div>
        <h3 class="blog-lastest-title">Lastest blog</h3>
      </div>
      <div class="blog-lastest-content">
        <div class="blog-lastest-content-img">
          <img src="/static/uploads/images/blogs/{{ .Lastest_blog.Image_name }}" alt="lastest blog image" />
        </div>
        <div class="blog-lastest-content-right">
          <a class="blog-lastest-content-right-link" href="/">{{ .Lastest_blog.Title }}</a>
          <p class="blog-lastest-content-right-body">{{ .Lastest_blog.Body }}</p>
          <div class="blog-lastest-author">
            <img src="/static/uploads/images/users/{{ .Author_of_the_lastest_blog.Avatar_name }}" />
            <div class="blog-lastest-author-right">
              <a class="blog-lastest-author-right-link" href="/">{{ .Author_of_the_lastest_blog.Profile_name }}</a>
              <p class="blog-lastest-author-right-created-at">{{ .Lastest_blog.Created_at }}</p>
            </div>
          </div>
        </div>
      </div>
      <div class="blogs">
        {{ range $blog := $blogs }}
        {{ $idUserOwnBlog := .Id_user}}
        <div class="blog">
          <div class="blog-image">
            <a href="/blog_detail/{{ .Id_blog }}">
              <img src="/static/uploads/images/blogs/{{ .Image_name }}" alt="Image blog" />
            </a>
          </div>
          <div class="blog-content">
            <div class="blog-content-title" href="/detail_blog">
              <a>{{ .Title }}</a>
            </div>
            <div div class="blog-content-body">
              <p>{{ .Body }}</p>
            </div>
            <!-- Display the info of author of this blog -->
            <!-- New -->
            {{ $createdAt := .Created_at }}
            {{ range $smallInfo := $smallInfoUsersOwnBlogs }}
            {{ if eq $idUserOwnBlog .Id_user}}
            <div class="blog-author-wrapper">
              <div class="blog-author">
                <img src="/static/uploads/images/users/{{ .Avatar_name }}" alt="Image author own blog" />
                <div class="blog-author-right">
                  <a href="/author">{{ .Profile_name }}</a>
                  <p>{{ $createdAt }}</p>
                </div>
              </div>
            </div>
            {{ end }}
            {{ end }}
            <!-- New -->
          </div>
        </div>

        {{ end }}
      </div>
  </main>
  <footer class="footer">Footer</footer>
</body>

</html>
