<!doctype html>
<html>

<head>
  <title>Homepage</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/static/style.css" />
  <link rel="stylesheet" href="/static/style.css" />
</head>

<body>
  <main>
    {{ $blogs := .Blogs}}
    {{ $smallInfoUsersOwnBlogs := .Small_info_user_own_blogs }}
    <!-- User signed in -->
    {{ if .Is_signed_in }}
    <header>
      <div class="menu-logo">
        <a href="/">
          Logo
        </a>
      </div>
      <div class="menu-list">
        <ul>
          <li class="menu-list-username">
            <a href="/profile" class="profile">
              <span class="profile-username">
                {{ .Profile_name }}
              </span>
              <div class="profile-avatar">
                <img src="/static/uploads/images/users/{{ .Avatar_name }}" alt="Avatar profile image" />
              </div>
            </a>
          </li>
          <li>
            <a href="/">Home</a>
          </li>
          <li>
            <a href="/about">About</a>
          </li>
          <li>
            <a href="/logout">Logout</a>
          </li>
        </ul>
      </div>
    </header>
    {{ else }}
    {{ template "header"}}
    {{ end }}
    <h2 class="title">Homepage</h2>
    <div class="blogs">
      {{ range $blog := $blogs }}
      {{ $idUserOwnBlog := .Id_user}}
      <div class="blog">
        <div class="blog-image">
          <a href="/blog_detail/{{ .Id_blog }}">
            <img src="/static/uploads/images/blogs/{{ .Image_name }}" alt="Image blog" />
          </a>
        </div>
        <div class="blog-content">
          <div class="blog-content-title" href="/detail_blog">
            <a>{{ .Title }}</a>
          </div>
          <div div class="blog-content-body">
            <p>{{ .Body }}</p>
          </div>
          <!-- Display the info of author of this blog -->
          <!-- New -->
          {{ range $smallInfo := $smallInfoUsersOwnBlogs }}
          {{ if eq $idUserOwnBlog .Id_user}}
          <div class="blog-author">
            <img src="/static/uploads/images/users/{{ .Avatar_name }}" alt="Image author own blog" />
            <span>Author: {{ .Profile_name }}</span>
          </div>
          {{ end }}
          {{ end }}
          <!-- New -->
        </div>
      </div>


      {{ end }}
      <!-- New -->


      {{ range $smallInfo := $smallInfoUsersOwnBlogs }}
      <div class="small-info-user">
        <div>
          <p>Id user is: {{ .Id_user }}</p>
          <p>{{ .Profile_name }}</p>
          <p>{{ .Avatar_name }}</p>
        </div>
      </div>
      {{ end }}

      <!-- New -->
    </div>
  </main>
  <footer class="footer">Footer</footer>
</body>

</html>
