<!doctype html>
<html>

<head>
  <title>Homepage</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/static/style.css" />
  <link rel="stylesheet" href="/static/style.css" />
</head>

<body>
  <main>
    <!-- User signed in -->
    {{ if .IsSignedIn }}
    <header>
      <div class="menu-logo">
        <a href="/">
          Logo
        </a>
      </div>
      <div class="menu-list">
        <ul>
          <li class="menu-list-username">
                <a href="/profile" class="profile">
                  <span class="profile-username">
                    {{ .ProfileName }}
                  </span>
                  <div class="profile-avatar">
                    <img src="/static/uploads/images/{{ .AvatarName }}" alt="Avatar profile image" />
                  </div>
                </a>
          </li>
          <li>
            <a href="/">Home</a>
          </li>
          <li>
            <a href="/about">About</a>
          </li>
          <li>
            <a href="/logout">Logout</a>
          </li>
        </ul>
      </div>
    </header>
    {{ else }}
    {{ template "header"}}
    {{ end }}
    <h2 class="title">Homepage</h2>
  </main>
</body>

</html>
