<!doctype html>
<html>

<head>
  <title>Signup paga</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/static/style.css" />
</head>

<body>
  <main>
    {{ template "header" }}

    <h2 class="title">Signup page</h1>
      <div class="form-signin">
        <form action="/signup" method="post" enctype="multipart/form-data">
          <input type="text" name="username" placeholder="Username" required />
          <br>
          <input type="text" name="profile_name" placeholder="Name profile" required />
          <br>
          <input type="file" name="avatar_profile" placeholder="Avatar profile" />
          <br>
          <input type="password" name="password" placeholder="Password" required />
          <br>
          <input type="password" name="confirm_password" placeholder="Confirm password" required />
          <br>
          <div>
            <button type="submit">Submit</button>
          </div>
        </form>
      </div>
  </main>
</body>

</html>
